/* Family font for the body of the main index*/
@font-face {
  font-family: bodyFont;
  src: url(../fonts/Gugi-Regular.ttf);
}

body {
  font-family: bodyFont;
}

.main_title {
  animation-name: example;
  font-size: 75px;
  animation-duration: 40s;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 75px;
}

.title {
  text-align: center;
}

@keyframes example {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.title_btn {
  font-family: bodyFont;
  width: 100%;
}

.back_btn {
  font-family: bodyFont;
  display: none;
}

.game_canvas {
  background-color: black;
}

#game {
  display: none;
}

#tutorial {
  display: none;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}