.control {
  text-align: center;
  margin: 0 auto;
}

#down_arrow {
  transform: rotate(180deg);
}

.key {
  width: 75px;
}

#L_R_arrows {
  width: 150px;
}

#tutorial {
  display: none;
  flex-direction: column;
  align-items: center;
}

#tuto_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tuto_controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}
